<script>
	$(function() {
		$( "#tabs-si-<%= @server.id %>" ).tabs({
			ajaxOptions: {
				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
					"Couldn't load this tab.");
				}
			}
		});
	});
</script>

<div id="notice"><%= notice %></div>

<h3>Server <%= @server.name.split('.')[0] %></h3>

<div id="tabs-si-<%= @server.id %>" class="ui-subtab">

	<ul>
		<li><a href="#tab-si-<%= @server.id %>-info">Info</a></li>
		<li><a href="/servers/<%= @server.id %>/stats">Stat</a></li>
		<li><a href="/servers/<%= @server.id %>/logs">Logs</a></li>
	</ul>

	<div id="tab-si-<%= @server.id %>-info">
		<h3>Basic Informations</h3>
		<table class="info-v" id="server-info-<%= @server.id %>">
			<tr><td>Name</td>
				<td><%= @server.name.split('.')[0] %>
					<span class="detail">(<%= @server.name %>; <%= @server.uuid %>)</span>
			</td></tr>
			<tr><td>OS</td>
				<td><%= @server.os_id %> <%= @server.os_rel %>
					<span class="detail">(<%= @server.os_name %> <%= @server.os_kernel %>
						<%= @server.os_build %> <%= @server.os_arch %>)</span>
			</td></tr>
			<tr><td>Register</td>
				<td><%= @server.confirmed %>
					<span class="detail">
						(<%= @server.created_at.getlocal.strftime("%Y-%m-%d %H:%M") %>;
						updated at
						<%= @server.updated_at.getlocal.strftime("%Y-%m-%d %H:%M") %>)
					</span>
			</td></tr>
			<tr><td>Operation</td>
				<td><%= @server.op_mode %> (<%= @server.op_level %>)
					<span class="detail">uptime: <%= @server.st_uptime %>
						monitoring: <%= @server.st_monitoring %>
						automation: <%= @server.st_automation %></span>
			</td></tr>
			<tr><td>Description</td>
				<td><%= @server.desc %></td></tr>
		</table>

		<div class="nav">
		<%= link_to 'Edit', edit_server_path(@server) %>
		</div>
	</div>
</div>

<!-- vim:set ts=2 sw=2: -->
