<p id="notice"><%= notice %></p>

<div class="name" id="hostname">
	<b><%= @server.name %></b> is <%= @server.status %>.
</div>
<div class="desc" id="description">
	<b>Desc:</b> <%= @server.desc %>
</div>

<hr>
<table>
  <tr>
    <th>Group</th>
    <th>Logdate</th>
    <th>Process</th>
    <th>Pid</th>
    <th>Message</th>
    <th></th>
  </tr>
<%= render @server.logs %>
</table>
<hr>

<div class="nav">
<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
</div>
