<!DOCTYPE html>
<html>
<head>
  <title>Honcheonui</title>
  <link rel="stylesheet" href="/css/red-special/jquery-ui-1.8.16.custom.css"/>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Acme|Inder|Overlock|Viga' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<!-- override default style -->
	<style type="text/css">
		body {
			font-family:Overlock,Verdana,helvetica,sans-serif;
			font-size: 11pt;
		}
		div#header { margin: 20px 0 6px 10px; }
		div#header h1, div#header h4 { display: inline; }
		div#message-box { background: url('/images/rs/ui-bg_diagonals-thick_75_f3a8a8_40x40.png'); }
		div#message-box { clear:both; float:right; }
		div#message-box { margin: 0 20px; padding: 0px 10px 0px}
		div#message-box div { display:inline; }
		h1 { font-family: "Yanone Kaffeesatz",Verdana,helvetica,sans-serif; }
		h2,h3,h4 { /* (pane) header */
			font-family: Viga,Verdana,helvetica,sans-serif;
			font-weight: normal !important;
			padding: 5px 10px; margin: 0;
		}

		.ui-layout-pane { padding: 0; overflow: hidden; border: 0px;}
		.ui-accordion { background-color: inherit; }
		.ui-accordion-header, .ui-accordion-content {
			border-color:#94908c;
			-moz-border-radius-bottomright: 0;
			-moz-border-radius-bottomleft: 0;
			border-bottom: 0px;
		}
		.ui-accordion-header {margin-top: 0px !important;}
		.ui-accordion .ui-state-active {}
		.ui-accordion .ui-accordion-header {padding: 4px 0;}
		.ui-accordion .ui-accordion-header a {padding-top:0; padding-bottom:0;}
		.ui-state-hover a:hover {background:inherit; color:inherit}

		.ui-layout-resizer {
			border: 0px;
			background: inherit;
		}
		.ui-layout-resizer-east {
			background-color: #DDDDAA;
			background-image: url("/images/rs/ui-bg_loop_100_ddddaa_21x21.png");
			background-position: 50% 50%;
			background-repeat: repeat;
		}
		.ui-layout-pane-east { border-left: 1px solid #a88;}
		.ui-layout-resizer-east { border-left: 1px solid #a88;}
		.ui-layout-resizer-south { border-top: 1px solid #a88;}
		.ui-layout-toggler {
			border: 0px;
			height: 20px;
		    background: inherit;
			background-image: url("/images/rs/ui-icons_cc0000_256x240.png");
		}
		.ui-layout-toggler-east-closed { background-position: -142px 0; }
		.ui-layout-toggler-south-open { background-position: -224px -50px; }

		div#hcu-help-content { padding:0.5em; }
		button.ui-button-icon-only {width:20px; height:20px;}
		#toolbar {padding:2px 8px; float:right; font-size:0.8em;}
		#toolbar .ui-button {height:1.4em;}
		#toolbar .ui-button-text {padding:0 5px 0 25px;}
		#toolbar .ui-button-text {font-family:courier;}
	</style>
	<!-- REQUIRED scripts for layout widget -->
	<script type="text/javascript">
	$(document).ready( function() {

		myLayout = $('body').layout({
			spacing_open:			4
		,	spacing_closed:			8
		,	west__size:				200
		,	east__size:				200
			// RESIZE Accordion widget when panes resize
		,	west__onresize:				$.layout.callbacks.resizePaneAccordions
		,	north__resizable:			false
		,	north__spacing_open:		0
		,	north__togglerLength_open:	0
		,	west__spacing_closed:		2
		,	west__spacing_open:			2
		,	west__togglerLength_open:	200
		,	east__initClosed:			true
		,	east__fxName:				"drop"
		,	east__spacing_closed:		20
		,	east__togglerLength_closed:	20
		,	east__togglerLength_open:	20
		,	east__togglerAlign_closed:	"top"
		,	east__togglerAlign_open:	"top"
		,	east__slideTrigger_open:	"mouseover"
		,	south__size:				150
		,	south__initClosed:			true
		,	south__maxSize:				400
		,	south__slidable:			false
		,	south__spacing_closed:		0
		,	south__spacing_open:		10
		,	south__togglerLength_open:	20
		});

		// ACCORDION - in the West pane
		$("#accordion1").accordion({ fillSpace:	true });

		$("#check").button({
			text: false,
			icons:  {primary:'ui-icon-arrow-4-diag'}
		}).click(function() {
			var options;
			if ($(this).text() === "full") {
				options = {
					label: "min",
					icons: {primary:'ui-icon-arrowthick-1-sw'}
				};
				$.each('north,west'.split(','),
					function(){myLayout.hide(this);});
			} else {
				options = {
					label: "full",
					icons: {primary:'ui-icon-arrow-4-diag'}
				};
				$.each('north,west'.split(','),
					function(){myLayout.open(this);});
			}
			$(this).button("option", options);
		});
		$("#console").button({
			icons:  {primary:'ui-icon-alert'}
		}).click(function() {
			myLayout.toggle('south')
		});
	});
	</script>
</head>


<body>
	<!-- ### header -->
	<div class="ui-layout-north ui-widget-content"
		style="display:none;">
		<div id="toolbar">
			<input type="checkbox" id="console"/><label
				for="console">Console</label>
		</div>
		<div id="message-box">
			<div class="notice"><%= notice %></div>
			<div class="alert"><%= alert %></div>
		</div>
		<div id="header">
			<h1>Honcheonui</h1>
			<h4>- Seeing is Knowing. Yes, Love is Knowing</h4>
		</div>
	</div>

	<!-- ### console -->
	<div class="ui-layout-south ui-widget-content ui-state-error"
		style="display: none;">
		System Console
		<div class="ui-layout-content">
		</div>
	</div>

	<!-- ### content -->
	<div class="ui-layout-center" style="display: none;">
		<h3 class="ui-widget-header ui-corner-tl">Center Pane</h3>
		<span style="position:absolute; top:5px; right:5px;">
			<button id="check">full</button>
		</span>
		<div class="ui-layout-content">
		<%= yield %>
		</div>
	</div>

	<!-- ### panel -->
	<div class="ui-layout-west" style="display: none;">
		<div id="accordion1" class="basic">
			<h3 class="ui-widget-header"><a href="#">Servers</a></h3>
			<div>
			</div>
			<h3 class="ui-widget-header"><a href="#">Groups</a></h3>
			<div>
			</div>
			<h3 class="ui-widget-header"><a href="#">Tasks</a></h3>
			<div>
			</div>
			<h3 class="ui-widget-header"><a href="#">Histories</a></h3>
			<div>
			</div>
		</div>
	</div>

	<!-- ### help! -->
	<div class="ui-layout-east" style="display: none;">
		<h3 class="ui-widget-header">Help!</h3>
		<div class="ui-layout-content hcu-help-content">
			Help!
		</div>
	</div>

</body>
</html>
<!-- vim: set ts=4 sw=4: -->
