<!DOCTYPE html>
<html>
<head>
	<title>Honcheonui</title>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Acme|Inder|Overlock|Viga' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "main" %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet"
		href="/css/<%= current_user.theme %>/jquery-ui.custom.css"/>
	<link rel="stylesheet"
		href="/css/<%= current_user.theme %>/override.css"/>
</head>


<body>
	<!-- ### header -->
	<div class="ui-layout-north ui-widget-content" style="display:none;">
		<div id="toolbar">
			<div style="display:inline-block; padding-right:1em">
				<%= image_tag('star-' + current_user.level.to_s + '.png',
							  :class => 'hcu-captain-star',
							  :alt => current_user.level.to_s + '-star') %>
				<%= current_user.admin ? 'captain' : 'wrangler' %>
				<%= current_user.name %> in the cockpit
			</div>
			<input type="checkbox" id="toggle-console"/><label
				for="toggle-console">Console</label><%=
			render 'devise/menu/login_items' %>
		</div>
		<div id="message-box">
			<div class="notice ui-state-highlight"><%= notice %></div>
			<div class="alert ui-state-error"><%= alert %></div>
		</div>
		<div id="header">
			<h1>Honcheonui</h1>
			<h4>- Seeing is Knowing. Yes, Love is Knowing</h4>
		</div>
	</div>

	<!-- ### console -->
	<div class="ui-layout-south ui-widget-content" style="display: none;">
		<div class="ui-layout-content ui-state-error">
		</div>
	</div>

	<!-- ### content -->
	<div class="ui-layout-center" style="display: none;">
		<h3 class="ui-widget-header ui-corner-tl hcu-header">Center Pane</h3>
		<span style="position:absolute; top:5px; right:5px;">
			<button id="toggle-fullscreen">full</button>
		</span>
		<div class="ui-layout-content" id="content-pane">
			<div id="tabs">
				<ul></ul>
			</div>
		</div>
	</div>

	<!-- ### panel -->
	<div class="ui-layout-west" style="display: none;">
		<!--div id="sidemenu" class="basic"-->
		<%= render 'layouts/side_menu' %>
	</div>

	<!-- ### help! -->
	<div class="ui-layout-east" style="display: none;">
		<h3 class="ui-widget-header hcu-header">Help!</h3>
		<div class="ui-layout-content hcu-help-content" id="content-help">
			Help!
		</div>
	</div>

</body>
</html>
<!-- vim: set ts=4 sw=4: -->
