<h1>Listing logs</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Logdate</th>
    <th>Server</th>
    <th>Process</th>
    <th>Pid</th>
    <th>Message</th>
    <th></th>
  </tr>

<% @logs.each do |log| %>
  <tr>
    <td><%= log.group %></td>
    <td><%= log.logdate %></td>
    <td><%= link_to log.server.name, log.server %></td>
    <td><%= log.process %></td>
    <td><%= log.pid %></td>
    <td><%= link_to log.message, log %></td>
    <td><%= link_to 'Destroy', log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Log', new_log_path %>
