  <tr>
    <td><%= stat.server.name %></td>
    <td><%= stat.dt.getlocal.strftime("%d-%H:%M") %></td>
    <td><%= stat.cpu_user_max %></td>
    <td><%= stat.cpu_user_avg %></td>
    <td><%= stat.cpu_sys_max %></td>
    <td><%= stat.cpu_sys_avg %></td>
    <td><%= stat.cpu_wait_max %></td>
    <td><%= stat.cpu_wait_avg %></td>
    <td><%= stat.mem_used %></td>
    <td><%= stat.mem_buffer %></td>
    <td><%= stat.mem_cached %></td>
    <td><%= stat.swp_used %></td>
    <td><%= stat.task_total %></td>
    <td><%= stat.task_running %></td>
    <td><%= stat.task_blocked %></td>
    <td><%= stat.task_zombie %></td>
    <td><%= stat.users %></td>
    <td><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
