<h1>Listing stats</h1>

<table>
  <tr>
    <th>Server</th>
    <th>Cpu user Max</th>
    <th>Cpu user Avg</th>
    <th>Cpu sys Max</th>
    <th>Cpu sys Avg</th>
    <th>Cpu wait Max</th>
    <th>Cpu wait Avg</th>
    <th>Mem used</th>
    <th>Mem buffer</th>
    <th>Mem cached</th>
    <th>Mem swpd</th>
    <th>Task total</th>
    <th>Task running</th>
    <th>Task blocked</th>
    <th>Task zombie</th>
    <th>Users</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stats.each do |stat| %>
  <tr>
    <td><%= stat.server %></td>
    <td><%= stat.cpu_user_max %></td>
    <td><%= stat.cpu_user_avg %></td>
    <td><%= stat.cpu_sys_max %></td>
    <td><%= stat.cpu_sys_avg %></td>
    <td><%= stat.cpu_wait_max %></td>
    <td><%= stat.cpu_wait_avg %></td>
    <td><%= stat.mem_used %></td>
    <td><%= stat.mem_buffer %></td>
    <td><%= stat.mem_cached %></td>
    <td><%= stat.swp_used %></td>
    <td><%= stat.task_total %></td>
    <td><%= stat.task_running %></td>
    <td><%= stat.task_blocked %></td>
    <td><%= stat.task_zombie %></td>
    <td><%= stat.users %></td>
    <td><%= link_to 'Show', stat %></td>
    <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
    <td><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stat', new_stat_path %>
